.image-style {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin: 10px;
}

.list-item {
  padding-right: 10px;
  opacity: 0.5;
}

.active-list-item {
  opacity: 1;
}

.button {
  background-color: #ffffff;
  border-style: none;
}
